# Ignore original includes
include/**
!include/device.h
!include/device/device.h
!include/device/interrupts.h
!include/device/startup.h
# Ignore original source
src/**
!src/interrupts
!src/interrupts/**
!src/startup.c